@keyframes rock-back-forth {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes appear-up {
    from {
        transform: translateY($padding-lg);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}